.claimText {
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: #dd631d;
    display: block;
    font-size: larger;
    font-style: normal;
    height: fit-content;
    
}

.writeYourInfoHereText {
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: #dd631d;
    display: block;
    font-size: large;
    font-style: normal;
    height: fit-content;
    
}

.claim{
    display: flex;
    align-items: top;
    flex-direction: column;
    padding-inline: 170px;


}
.input{
display: inline;
align-items: center;

}
.centre{
    margin: auto;
    padding: 10px;
    width: 30%;
    height: 500px;
    border-radius: 30px;
    background-color: rgb(182, 182, 182);
}
.welcomeDiv{
    background-color: black;
    display: flex;
    width: 30px;
    height: 30px;
}
.button{
    background: linear-gradient(90deg, rgba(241,175,80,1) 0%, rgba(244,100,205,1) 100%);
    border-radius: 8px;
    background-color: white;
    border: 1px;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
}
.button:hover{
    background-color: white;
    cursor: pointer;
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active{
    box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.claimContainer {
    flex: 1;
    min-width: 250px;
}
.truc{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
}
.truc2{
    min-width: 250px;
}